body {
	font-family: Arial;
}

.list_panel td, th {
	background-color: #F1F1F1;
	padding: 5px;
	text-align: left;
}

.list_panel table {
	border: 1px solid;
}
.list_panel {
	margin-top : 15px;
	width: 700px;
	padding: 5px;
}

.input_panel {
	display: none;
	position: relative;
	top: 20px;
}

.input_panel td {
	font-size: 14px;
	padding: 5px;
	width: 210;
}

td .name, .address {
	padding: 4px;
	width: 200px;
}

.input_panel label {
	width: 100px;
}

.input_panel table {
	background-color: #F1F1F1;
	border: 1px solid;
	width: 350px;
}

#map_canvas {
	border: 1px solid;
	position: absolute;
	right: 100px;
	top: 15px;
	width: 450px;
	height: 480px;
}
