<html>                                                                  
	<head>                                                                  
		<script type="text/javascript" src="../static/jquery-1.8.2.min.js"></script>          
		<script type="text/javascript">                                         
			$.ajax({
			  url: '/location/show/all',
			  success: function(data) {
			    alert(data);
			  }
			});
		</script>                                                               
	</head>                                                                 
	<body>                                                                  
		  <!-- we will add our HTML content here -->                                        
	</body>                                                                 
</html>
