<html>   
	<style>
		#map_canvas{
			width: 450px;
			height: 480px;
		}
	</style>                                                               
	<head>                                                                  
		<script type="text/javascript" src="../static/jquery-1.8.2.min.js"></script>          
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCmF7jwygYGua_AiL09H47lWdIrY0dkyM4&sensor=false"></script>		
		<script type="text/javascript">                                         
			$(document).ready(function() {
				$.ajax({
				  url: '/location/show/all/',
				  success: function(data) {
					createLocationsView(data)
				  }
				});
				initialize_map();
			})
			
			var geocoder = null;
			var map = null;
			function initialize_map() {
				geocoder = new google.maps.Geocoder();
				var latlng = new google.maps.LatLng(-34.397, 150.644);
				var mapOptions = {
				  zoom: 8,
				  center: latlng,
				  mapTypeId: google.maps.MapTypeId.ROADMAP
				}
				map = new google.maps.Map($("#map_canvas")[0], mapOptions);
			}
			

			function createLocationsView(data) {
				for (var i in data.locations){
					cur_location = data.locations[i];
					id = cur_location.location_id 
					$row = $("<div id=location_" + id + "><tr>");
					$row.append("<td id=name>" + cur_location.name +"</td>");
					$row.append("<td id=address>" + cur_location.address+"</td>");
					$row.append("<td id=view> <input type=button value=View /></td>");
					$row.append("<td id=delete> <input type=button value=Delete /></td>");
					$row.append("<td id=edit> <input type=button value=edit /></td>");
					$row.append("</tr></div>");
					$(".locations").append($row);
					registerHandlers(id, cur_location);
				}
			}

			function registerHandlers(id, cur_location) {
				$("#location_" + id + " #view").bind('click', function(event) {
					viewLocation(id);	
				});
				$("#location_" + id + " #delete").click(function(event) {
					deleteLocation(id);
				});
				$("#location_" + id + " #edit").click(function(event) {
					createLocation(id);
				});
			}

			function deleteLocation(id) {
				$('.detail_panel').empty();
				$.ajax({
				  url: '/location/remove/' + id + '/',
				  success: function(data) {
					$('#location_' + id).remove();
				  }
				});
			}

			function createLocation(id) {
				$('.detail_panel').empty();
				operation = id != undefined ? 'update' : 'create';
				$addressText = $("<input type=text />");
				$addressText.attr('value', $('#location_'+id+' #address').text());
				$nameText = $("<input type=text />");
				$nameText.attr('value', $('#location_'+id+' #name').text());
				$createButton = $("<input type=button />");
				$createButton.attr('value', operation);
				$(".detail_panel").append($addressText);	
				$(".detail_panel").append($nameText);
				$(".detail_panel").append($createButton);

				$createButton.click(function() {
					// validate the name and address
					if ($nameText.val().length == 0  || $addressText.val().length == 0) {
						alert("Please fill in missing fields name and address");
						return;
					}
					
					geocoder.geocode( { 'address': $addressText.val()}, function(results, status) {
						if (status == google.maps.GeocoderStatus.OK) {
							 map.setCenter(results[0].geometry.location);
							 var marker = new google.maps.Marker({
							     map: map,
							     position: results[0].geometry.location
							 });

							locationData = {}
							locationData.user_id = 'vinayjain404'; 
							locationData.lat = results[0].geometry.location.Ya; //geocode.lat;
							locationData.long = results[0].geometry.location.Za; //geocode.long;
							locationData.address = $addressText.val();
							locationData.name = $nameText.val();
							locationData.id = id;

							// fetch geo code and validate address provided
							$.ajax({
								url: "/location/" + operation +"/",
								data: locationData,
								type: 'post',
								success: function(data) {
								      //window.location.replace("/");
								}
							});
						} else {
							if(status == 'ZERO_RESULTS') {
								alert('Please enter a valid address'); 
							} else {
								alert("Geocode was not successful for the following reason: " + status);
							}
						}
					});
				});
			}

			function viewLocation(id) {
				$('.detail_panel').empty();
				geocoder.geocode( { 'address': $('#location_'+id+' #address').text()}, function(results, status) {
					if (status == google.maps.GeocoderStatus.OK) {
						 map.setCenter(results[0].geometry.location);
						 var marker = new google.maps.Marker({
						     map: map,
						     position: results[0].geometry.location
						 });
					}
				});
			}
		</script>                                                               
	</head>                                                                 
	<body>                                                                  
		<div class="list_panel">
			<table class="locations">
			</table>
			<input type=button value="Add a location" onclick=createLocation() />
		</div>
		<div class="detail_panel">
			<div id="map_canvas">
			</div>
		</div>
	</body>                                                                 
</html>
