<html>   
	<head>                                                                  
		<link rel="stylesheet" type="text/css" href="../static/style.css">
		<script type="text/javascript" src="../static/jquery-1.8.2.min.js"></script>          
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCmF7jwygYGua_AiL09H47lWdIrY0dkyM4&sensor=false"></script>		
		<script type="text/javascript">                                         
			$(document).ready(function() {
				fetchFavoriteLocations();
				initialize_map();
			})
			
			var geocoder = null;
			var map = null;
			var isUpdate = false;
			var update_location_id = null;
			var username = get_username();

			function get_username() {
				// using static username
				return 'vinayjain404';
			}
			function initialize_map() {
				geocoder = new google.maps.Geocoder();

				// Default location of map set to AT&T Park
				var latlng = new google.maps.LatLng(37.7783, -122.3894);
				var mapOptions = {
				  zoom: 10,
				  center: latlng,
				  mapTypeId: google.maps.MapTypeId.ROADMAP
				}
				map = new google.maps.Map($("#map_canvas")[0], mapOptions);
			}
			

			function fetchFavoriteLocations() {
				$.ajax({
				  url: '/location/show/all/' + username,
				  success: function(data) {
					createLocationsView(data)
				  }
				});
			}

			function createLocationsView(data) {
				for (var i in data.locations){
					cur_location = data.locations[i];
					id = cur_location.location_id 
					$row = $("<tr id=location_" + id + ">");
					$row.append("<td id=name>" + cur_location.name +"</td>");
					$row.append("<td id=address>" + cur_location.address+"</td>");
					$row.append("<td id=view> <input type=button value=View /></td>");
					$row.append("<td id=delete> <input type=button value=Delete /></td>");
					$row.append("<td id=edit> <input type=button value=Edit /></td>");
					$row.append("</tr>");
					$(".locations").append($row);
					registerHandlers(id, cur_location);
				}
			}

			function registerHandlers(id, cur_location) {
				$("#location_" + id + " #view").click(function(event) {
					viewLocation(id);	
				});
				$("#location_" + id + " #delete").click(function(event) {
					deleteLocation(id);
				});
				$("#location_" + id + " #edit").click(function(event) {
					updateLocation(id);
				});
			}

			function deleteLocation(id) {
				$(".input_panel").hide();
				$.ajax({
				  url: '/location/remove/' + id + '/',
				  success: function(data) {
					$('#location_' + id).remove();
				  }
				});
			}

			function updateLocation(id) {
				$(".input_panel").show();
				$(".input_panel .address").val($('#location_'+id+' #address').text());
				$(".input_panel .name").val($('#location_'+id+' #name').text());
				isUpdate = true;
				update_location_id = id;
			};

			function createLocation() {
				isUpdate = false;
				clearInputLocationForm();
				$(".input_panel").show();
			}

			function submitLocationDetails() {
				$addressText = $(".input_panel .address");
				$nameText = $(".input_panel .name");

				// validate the name and address
				if ($nameText.val().length == 0  || $addressText.val().length == 0) {
					// TODO Append to the error message div
					alert("Please fill in missing fields name and address");
					return;
				}
				
				geocoder.geocode( {'address': $addressText.val()}, function(results, status) {
					if (status == google.maps.GeocoderStatus.OK) {
						map.setCenter(results[0].geometry.location);
						var marker = new google.maps.Marker({
							map: map,
							position: results[0].geometry.location
						});

						var infowindow = new google.maps.InfoWindow({
							content: $addressText.val(), 
							size: new google.maps.Size(50, 50)
						});

						google.maps.event.addListener(marker, 'click', function() {
							infowindow.open(map,marker);
						});

						locationData = {};
						locationData.user_id = username; 
						locationData.lat = results[0].geometry.location.lat();
						locationData.long = results[0].geometry.location.lng();
						locationData.address = $addressText.val();
						locationData.name = $nameText.val();

						if (isUpdate) {
							locationData.id = update_location_id;
						}

						operation = isUpdate ? 'update' : 'create';

						// fetch geo code and validate address provided
						$.ajax({
							url: "/location/" + operation +"/",
							data: locationData,
							type: 'post',
							success: function(data) {
								$('.locations').empty();
								fetchFavoriteLocations();
								clearInputLocationForm();
								$(".input_panel").hide();
							}
						});
					} else {
						if(status == 'ZERO_RESULTS') {
							alert('Please enter a valid address'); 
						} else {
							alert("Geocode was not successful for the following reason: " + status);
						}
					}
				});
			}

			function viewLocation(id) {
				// show map only on create and update
				clearInputLocationForm();
				$(".input_panel").hide();
				geocoder.geocode( { 'address': $('#location_'+id+' #address').text()}, function(results, status) {
					if (status == google.maps.GeocoderStatus.OK) {
						map.setCenter(results[0].geometry.location);
						var marker = new google.maps.Marker({
						    map: map,
						    position: results[0].geometry.location
						});
						var infowindow = new google.maps.InfoWindow({
							content: $('#location_'+id+' #address').text(),
							size: new google.maps.Size(50, 50)
						});

						google.maps.event.addListener(marker, 'click', function() {
							infowindow.open(map,marker);
						});
					}
				});
			}
			function clearInputLocationForm() {
				$('.input_panel .address').val("");
				$('.input_panel .name').val("");
			}
		</script>                                                               
	</head>                                                                 
	<body>                                                                  
		<div class="list_panel">
			<table class="locations">
			</table>
			<input type=button class="add_location_button" value="Add location" onclick=createLocation() />
		</div>
		<div class="input_panel">
			<table>
				<tr>
					<td> <label> Location Name </label> </td>
					<td> <input class="name" type = text/> </td>
				</tr>
				<tr>
					<td valign="top"> <label> Address </label> </td>
					<td> <textarea class="address" rows=10> </textarea>  </td>
				</tr>
				<tr>
					<td> 
						<input type=button value="Submit" onclick=submitLocationDetails() />
					</td>
				</tr>
			</table>
		</div>
		<div id="map_canvas">
		</div>
	</body>                                                                 
</html>
